{% extends 'nav.html' %}
{% block nav %}

<div class="container">
<div class="row">
    <div class="col-md-10">
        <div class="card">
            <img class="card-img-top" src="{{data.Mobile.url}}" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">{{data.Name}}</h3>
              <h6 class="card-text"><span class="material-symbols-rounded">
                currency_rupee
                </span>{{data.prize}}</h6>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">RAM:{{data.ram}}GB</li>
              <li class="list-group-item">ROM:{{data.rom}}GB</li>
              <li class="list-group-item">{{data.processer}} processor</li>
            </ul>
          </div>
        <div class="footer">
            <button class="btn btn-success btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Review
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body"> 
              {% for r in review %}
                {% if r.product.Mobile == data.Mobile %}
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">{{r.comment}}</h4>
                  <p class="card-text"><strong>Posted on:</strong>{{r.datetime}}</p>
                  <p class="card-text"><strong>Posted by:</strong>{{r.user.first_name}}</p>
                </div>
              </div>
                {% endif %}
              {% endfor %}
              
            </div>
            
          </div>
        </div>
    </div>
</div>
</div>
{% endblock %}