{% extends 'navigation.html' %}
{% block nav %}

    <div class="row">
      {% for i in data %}
      <div class="col-md-3 ml-1"> 
      
      <div class="card mt-2" style="width: 18rem;">
      <img class="card-img-top" height="180px" src="{{i.mobile.Mobile.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{i.mobile.Name}}</h5>
        <h6 class="card-text"><span class="material-symbols-rounded">
          currency_rupee
          </span>{{i.mobile.prize}}</h6>
      </div>
      <div class="footer">
        <a href="{% url 'pro' i.mobile.id %}" class="btn btn-block btn-primary mb-1 ml-1">More Detailes</a>
      </div>
    </div>
    
    </div>
    {% endfor %}
    </div>

{% endblock %}